name: Build Android and Send Email

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install dependencies
        run: yarn install

      - name: Build Android Release APK
        run: |
          cd android
          chmod +x ./gradlew
          ./gradlew assembleRelease

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: dev-build
          name: Development Build
          draft: false
          prerelease: true
          files: android/app/build/outputs/apk/release/app-release.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Send Email with Public APK Link
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USER }}
          password: ${{ secrets.EMAIL_PASS }}
          subject: "New Public Release APK Build"
          to: "jeevaje636@gmail.com,srij33894@gmail.com"
          from: "CI BOT <${{ secrets.EMAIL_USER }}>"
          body: |
            Hi,

            Your new RELEASE APK is ready.

            Public Download Link:
            https://github.com/Jeevanandan123/Ci-CD/releases/download/dev-build/app-release.apk

            --
            React Native CI Bot
